{% extends "lab_10/layout/base.html" %}

{% block header %}
<div class="navbar navbar-default" role="navigation" style="background: #3B5999">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="color: white">PPW HORAY</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>{{author}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 class="text-center"><strong>{{author}}</strong></h4>
                                        <h4 class="text-center small">{{kode_identitas}}</h4>
                                        <p class="text-center">
                                            <a href="{% url 'lab-10:dashboard' %}" class="btn btn-info"> Dashboard </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="{% url 'lab-10:auth_logout' %}" class="btn btn-danger btn-block" onclick="return confirm('Keluar?')">
                                                Logout </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock%}


{% block content %}
  <div class="row" id="title-section" style="text-align: center; background:#6e9dea; color:white;">
    <h1 id="movie-title" style="font-weight: 800; font-family: monospace;">{{movie.title}} ({{movie.year}})</h1>
  </div>
  <div class="row" style="background:#d2def2;">
    <div class="col-lg-4 col-md-12" style="margin-top: 20px;">
      <img src="{{movie.poster}}" id="movie-poster"></img>
    </div>
    <div class="rating" style="font-weight: 800; font-family: monospace; font-size: 20px; margin-top: 20px;">
      <p id="ratings"> <img src="https://png.icons8.com/star-filled/ios7/50/f1c40f" id="star" style="width:40px;"> {{ movie.ratings.0.Value.0}}{{ movie.ratings.0.Value.1}}{{ movie.ratings.0.Value.2}}<small id="per-ten">{{ movie.ratings.0.Value.3}}{{ movie.ratings.0.Value.4}}{{ movie.ratings.0.Value.5}} | {{ movie.rated}} | {{movie.released}}({{movie.country}})</small></p>
    </div>
    <div class="col-lg-8">
      <div class="row">
        <h2 style="font-weight: 800; font-family: monospace;">Details:</h2>
        <div class="col-lg-12" id="movie-details">
          <h4 style="font-weight: 800; font-family: monospace;"><span id="details-title">Genre</span>     : {{movie.genre}}</h4>
          <h4 style="font-weight: 800; font-family: monospace;"><span id="details-title">Director</span>  : {{movie.director}}</h4>
          <h4 style="font-weight: 800; font-family: monospace;"><span id="details-title">Writer</span>    : {{movie.writer}}</h4>
          <h4 style="font-weight: 800; font-family: monospace;"><span id="details-title">Production</span>: {{movie.production}}</h4>
          <h4 style="font-weight: 800; font-family: monospace;"><span id="details-title">Website</span>   : <a href="{{movie.website}}">{{movie.website}}</a></h4>
          <h4 style="font-weight: 800; font-family: monospace;"><span id="details-title">Duration</span>  : {{movie.runtime}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" style="padding: 0;">
          <h2 style="font-weight: 800; font-family: monospace;">Casts:</h2>
          <h3 id="actor" style="font-family: monospace; font-size: 20px">{{movie.actors}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="background:#d2def2;">
    <h2 style="font-weight: 800; font-family: monospace; margin-left: 15px;">Synopsis:</h2>
    <h3 id="plot" style="font-family: monospace; font-size: 20px; margin-left: 15px;">"{{movie.plot}}"</h3>
  </div>
  <div class="box" style="margin-top: 1%; text-align:center;">
      {% if added %}
      <button class="btn btn-success"> Added to Watch Later </button>
      {% else %}
      <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
      {% endif%}
      <a href="/lab-10/movie/list/" class="btn btn-primary" style="margin-left: 2%;"> Back to List </a>
  </div>

{% endblock %}
