{% extends "lab_10/layout/base.html" %}

{% block header %}
<div class="navbar navbar-default" role="navigation" style="background: #3B5999">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="color: white">PPW HORAY</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>{{author}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 class="text-center"><strong>{{author}}</strong></h4>
                                        <h4 class="text-center small">{{kode_identitas}}</h4>
                                        <p class="text-center">
                                            <a href="{% url 'lab-10:dashboard' %}" class="btn btn-info"> Dashboard </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="{% url 'lab-10:auth_logout' %}" class="btn btn-danger btn-block" onclick="return confirm('Keluar?')">
                                                Logout </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock%}

{% block content %}

{% if watch_later_movies %}
  <table class="table">
    <thead style="background:#6e9dea; color:white;">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Title</th>
        <th scope="col">Poster</th>
        <th scope="col">Year</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody style="background:#d2def2; color:#020e21;">
      {% for movie in watch_later_movies %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{movie.title}}</td>
        <td><img src="{{movie.poster}}" style="width: 150px;" /></td>
        <td>{{movie.year}}</td>
        <td><a href='/lab-10/movie/detail/{{movie.imdbid}}' class='btn btn-primary'> Detail </a>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert alert-danger text-center">
      <strong>Oops!</strong> No movies added.
  </div>
{% endif %}
  <div class="box">
      <a href="/lab-10/movie/list/" class="btn btn-primary" style="margin-left: 2%;"> Back to List </a>
  </div>
{% endblock %}
