{% extends "lab_8/layout/base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="lab8">
        <div class="intro">
            <h1>PPW HORAY</h1>
            <h2>Login with Facebook</h2>
            <button type="button" id="login-button" class="btn"><img class="logo" src="{% static 'pict/facebook-logo-3.png' %}" style="width:25px;margin-right:5px;"/>Login with Facebook</button>
        </div>
    </div>
{% endblock %}
