{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <title>
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>

<style>
  h1 {
    font-family: fantasy;
    font-size: 34px;
    color: #cec2c3;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6px;
  }
  h2 {
    font-family: sans-serif;
    font-size: 22px;
    background-color: #000000;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
  }
  p {
    font-family: sans-serif;
    font-size: 18px;
    color: black;
  }
  ul {
    font-family: sans-serif;
    font-size: 18px;
    color: black;
  }
  form {
    font-size: 18px;
    color: black;
  }
  #navbarpage2 {
    font-family: sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    background-color: #000000;
  }
  footer {
    text-align: center;
  }
</style>

<body style="background-color: #ce636c">
    <header>
        {% include "lab_4/partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
