.body{
    flex-wrap: wrap;
}

.intro{
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 30%;
    font-family: 'Spectral SC', serif;
    text-align: justify;
}

.intro h1{
    font-size: 50px;
    margin-left: 4%;
}

button#login-button{
    margin-top: 20px;
    margin-left: 13%;
    background-color: #3B5999;
    color: white;
    width: 230px;
    height: 70px;
    font-size: 17px;
}

.profile{
  margin-left: 15%;
  margin-right: 15%;
}

.cover{
    width: 100%;
}

.picture{
    margin-top: -90px;
    margin-left: 350px;
    width: 240px;
    border-radius: 50%;
}

.data{
    text-align: center;
}

.profile{
    font-family: 'Open Sans', sans-serif;
    font-weight: 2px;
}


.post{
    width: 75%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 4;
}

.postStatus{
    float: right;
    margin-right: 15%;
}

.feeds{
    margin-left:15%;
    margin-top: 10%;
}

.p-2{
    margin-top:50px;
    margin-left:15%;
    margin-right:15%;
    height: 200px+50px;
    background: #00c6ff;
    background: -webkit-linear-gradient(to left, #00c6ff, #0072ff);
    background: linear-gradient(to left, #00c6ff, #0072ff);
    color: white;
    font-family: 'Merriweather Sans', sans-serif;;
    font-weight: 3px;
    padding-bottom: 20px;
    font-size: 25px;
    word-break: keep-all;
}

.delete{
   opacity: 0;
}

.delete:hover{
    opacity: 1;
}


@media only screen and (max-width:756px){
    .cover{
        margin-top: 1%;
        margin-left: 0;
        height: 275px;
        width: 375px;
    }
}
