<!-- Fixed navbar -->

<nav class="navbar navbar-default navbar-fixed-top" style="background: #3B5999">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="color: white">PPW HORAY</a>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top" style="background: #3B5999">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="color: white">PPW HORAY</a>
        </div>
        <div class="collapse navbar-collapse">
           <ul class="nav navbar-nav navbar-right">
               <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       <span class="glyphicon glyphicon-user"></span> 
                       <strong>{{author}}</strong>
                       <span class="glyphicon glyphicon-chevron-down"></span>
                   </a>
                   <ul class="dropdown-menu">
                       <li>
                           <div class="navbar-login">
                               <div class="row">
                                   <div class="col-lg-12">
                                       <h4 class="text-center" style="color: white"><strong>{{author}}</strong></h4>
                                       <h4 class="text-center small">{{kode_identitas}}</h4>
                                   </div>
                               </div>
                           </div>
                       </li>
                       <li class="divider"></li>
                       <li>
                           <div class="navbar-login navbar-login-session">
                               <div class="row">
                                   <div class="col-lg-12">
                                       <p>
                                           <a href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger btn-block" onclick="return confirm('Keluar?')">
                                               Logout </a>
                                       </p>
                                   </div>
                               </div>
                           </div>
                       </li>
                   </ul>
               </li>
           </ul>
       </div>
    </div>
</nav>
