<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Biodata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<style>
    table, th, td {
        border: 2px solid #000000;
        padding:10px;
    }
    body {
      font-family: sans-serif;
      color: black;
    }
    h3 {
      font-family: "Lucida Sans Unicode";
      font-size: 24px;
      color: black;
      letter-spacing: 2px;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .subject {
        font-size: 20px;
        letter-spacing: 2px;
        font-family: sans-serif;
        color: #fefbfb;
        background-color: #000000;
    }
    .value {
        font-size: 20px;
        font-family: sans-serif;
        color: #000000;
        background-color: #fefbfb;
    }
    .diary_headings {
      font-size: 16px;
      letter-spacing: 2px;
      font-family: sans-serif;
      color: #fefbfb;
      background-color: #000000;
    }
    .diary_entry {
      font-size: 16px;
      font-family: sans-serif;
      color: #000000;
      background-color: #fefbfb;
    }

    #navbar1{
      font-family: sans-serif;
      letter-spacing: 4px;
      text-transform: uppercase;
      font-size: 14px;
      background-color: #000000;
    }

</style>
<body style="background-color: #ce636c">
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-dark" id="navbar1">
          <a class="navbar-brand" href="#">site of mine</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/lab-2/">Home</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/lab-2-addon/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-3/">Diary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-4/">Portofolio</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
